<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Index</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Welcome to the Thornhill system</h3>

  <ion-img class="banner" src="img/123.gif"></ion-img>
  <ng-container *ngIf="logged">
    <h2>Thank you for logging</h2>
    <button class="center login" ion-button secondary (click)="logout()">Logout</button>
  </ng-container>
  <ng-container *ngIf!="logged">
    <h2>Please log in</h2>
    <button class="center logout" ion-button secondary (click)="openModal()">
      Login
    </button>
  </ng-container>
</ion-content>
